{% for vlan in netaut_vlans %}
set / network-instance vlan-{{ vlan.id }} type mac-vrf
set / network-instance vlan-{{ vlan.id }} description "{{ vlan.name }}"
{% endfor %}
{% for iface in netaut_interfaces %}
set / interface {{ iface.name }} admin-state enable
set / interface {{ iface.name }} description "{{ iface.description }}"
set / interface {{ iface.name }} vlan-tagging true
set / interface {{ iface.name }} subinterface 0 type bridged
set / interface {{ iface.name }} subinterface 0 vlan encap untagged
set / network-instance vlan-{{ iface.access_vlan }} interface {{ iface.name }}.0
{% endfor %}
